<div class="main-container"> 
  <!-- Welkomscherm -->
  <div *ngIf="!cityName()" class="welcome-section"> 
    <mat-card>
      <mat-card-content class="welcome-content">
        <h1>🌤️ Welkom bij de WeerApp</h1>
        <p>Voer hierboven in de balk een locatie in om de weersinformatie te starten.</p>
      </mat-card-content>
    </mat-card>
  </div> 

  <!-- Dashboard Container -->
  <div *ngIf="cityName()">
    <header class="location-header">
      <h1>Weer Dashboard voor {{ cityName() }}</h1>
    </header>

    <ion-segment [value]="activeTab">
      <ion-segment-button value="child1" routerLink="child1">
        <ion-label>Huidig weer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="child2" routerLink="child2">
        <ion-label>Toekomstig weer</ion-label>
       </ion-segment-button>
      <ion-segment-button value="child3" routerLink="child3">
        <ion-label>UV-index</ion-label>
      </ion-segment-button>
      <ion-segment-button value="child4" routerLink="child4">
        <ion-label>Signalen</ion-label>
      </ion-segment-button>
    </ion-segment>

    <main class="sub-page-outlet">
      <ion-router-outlet></ion-router-outlet>
    </main>
  </div>

  <!-- Signatentracker -->
  <mat-card class="signals-card" *ngIf="cityName()">
    <mat-card-header><mat-card-title>Laatste signaal uit ChildService</mat-card-title></mat-card-header>
    <mat-card-content class="signals-content">
      <h2 *ngIf="invoer(); else geenBericht">Ontvangen tekst: <strong>"{{ invoer() }}"</strong></h2>
      <ng-template #geenBericht><p class="placeholder-text">Nog geen handmatige invoer verzonden.</p></ng-template>
      <hr />
      <div class="badge-container">
        <button *ngFor="let item of invoerWaarde(); let i = index" (click)="onChildInvoerDeleted(i)" class="badge-danger custom-badge-btn">
          {{ item }} ×
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>