.child-container { 
  display: block; 
  width: 100%; 
}

mat-card-content { 
  padding: 20px !important; 
}

.table-card-content { 
  display: block !important; 
  padding: 15px 20px !important; 
}

.text-center-loading { 
  display: block !important; 
  text-align: center; 
  color: #7f8c8d; 
}