<div class="child-container">
  
  <div *ngIf="uvData$ | async as data; else loading" class="uv-dashboard-wrapper">
    <div *ngIf="data.list && data.list.length > 0">
      <h2 class="grid-title">7-Daagse UV-Index voor {{ data.cityName }}</h2>
      
      <div class="uv-grid">
        <mat-card *ngFor="let item of data.list" class="uv-day-card">
          <mat-card-header>
            <mat-card-title class="card-date">{{ item.date | date:'EEEE d MMMM' }}</mat-card-title>
          </mat-card-header>
          
          <mat-card-content class="card-score-content">
            <div class="uv-score-display">
              <h1 class="score-number">{{ item.value | number:'1.0-1' }}</h1>
            </div>
            <span [ngClass]="getBadgeClass(item.value)" class="uv-local-badge">
              {{ item.value >= 3 ? 'Hoge UV - Smeer zonnebrand!' : 'Veilige UV-waarde' }}
            </span>
          </mat-card-content>
        </mat-card>
      </div>
      
    </div>
  </div>

  <ng-template #loading>
    <mat-card *ngIf="loc$ | async as city">
      <mat-card-content class="text-center-loading">
        UV-gegevens ophalen voor <strong>{{ city }}</strong>...
      </mat-card-content>
    </mat-card>
  </ng-template>

</div>